/download-convert-service
/download-download-service
/download-transcription-service

/ffmpeg
/models

/corrected-transcription
/download-corrected-transcription
/.idea/runConfigurations/docker_compose_all_modules_yml__Compose_Deployment.xml
